## Data Preview

In [15]:
import pandas as pd
import numpy as np

In [16]:
data_dir = './data/'

In [25]:
df_fish = pd.read_csv(data_dir + 'FISH.csv')
df_water = pd.read_csv(data_dir + 'WATER.csv')
df_phy = pd.read_csv(data_dir + 'PHYTOPLANKTON.csv')
df_meta = pd.read_csv(data_dir + 'METADATA.csv')

In [18]:
df_fish.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3629 entries, 0 to 3628
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   datecollected           3629 non-null   object
 1   siteid                  3629 non-null   object
 2   sampleid                3629 non-null   object
 3   basisofrecord           3629 non-null   object
 4   minimumdepthinmeters    3629 non-null   float64
 5   maximumdepthinmeters    3629 non-null   float64
 6   taxaname                3629 non-null   object
 7   taxanameid              3629 non-null   int64
 8   samplingeffort          3629 non-null   object
 9   parameter               3629 non-null   object
 10  parameter_value         3629 non-null   float64
 11  parameter_standardunit  3629 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 340.3+ KB

In [19]:
df_water.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271925 entries, 0 to 271924
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   datecollected           271925 non-null  object
 1   siteid                  271925 non-null  object
 2   sampleid                271925 non-null  object
 3   basisofrecord           271925 non-null  object
 4   minimumdepthinmeters    271925 non-null  int64
 5   maximumdepthinmeters    271925 non-null  float64
 6   samplingeffort          271925 non-null  object
 7   parameter               271925 non-null  object
 8   parameter_value         271925 non-null  object
 9   parameter_standardunit  254111 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 20.7+ MB

In [23]:
df_fish.head(5)

,datecollected,siteid,sampleid,basisofrecord,minimumdepthinmeters,maximumdepthinmeters,taxaname,taxanameid,samplingeffort,parameter,parameter_value,parameter_standardunit
0,2008-09-26,AAE,AAE_20080926,HumanObservation,0.0,4.0,Palaemon sp.,107032,"Three hauls, 1.5 m wide beam trawl, net of 10 ...",Abundance,1.0,ind
1,2017-10-11,AAE,AAE_20171011,HumanObservation,0.0,4.0,Palaemon sp.,107032,"Three hauls, 1.5 m wide beam trawl, net of 10 ...",Abundance,2.0,Ind
2,2020-10-08,AAE,AAE_20201008,HumanObservation,0.0,4.0,Palaemon sp.,107032,"Three hauls, 1.5 m wide beam trawl, net of 10 ...",Abundance,3.0,Ind
3,2002-09-19,AAE,AAE_20020919,HumanObservation,0.0,4.0,Crangon crangon,107552,"Three hauls, 1.5 m wide beam trawl, net of 10 ...",Abundance,2.0,ind
4,2017-10-11,AAE,AAE_20171011,HumanObservation,0.0,4.0,Crangon crangon,107552,"Three hauls, 1.5 m wide beam trawl, net of 10 ...",Abundance,4.0,Ind

In [28]:
df_meta.head(5)

,taxagroup,siteid,sitename,country,seaname,decimallatitude,decimallongitude,startyearcollected,endyearcollected,samplingprotocol,name1,mail1,name2,mail2,name3,mail3
0,Water,E-A10HS,Ondarroa (Embarcadero). High Tide. Surface,ES,Bay of Biscay,43.319883,-2.420973,1995,2023,https://www.uragentzia.euskadi.eus/informacion...,Joana Larreta,jlarreta@azti.es,Javier Franco,jafranco@azti.es,Izaskun Zorita,izorita@azti.es
1,Water,E-A5HS,Ondarroa (Errenteria). High Tide. Surface,ES,Bay of Biscay,43.322074,-2.443325,2002,2023,https://www.uragentzia.euskadi.eus/informacion...,Joana Larreta,jlarreta@azti.es,Javier Franco,jafranco@azti.es,Izaskun Zorita,izorita@azti.es
2,Water,E-B10HS,Plentzia (Puerto). High Tide. Surface,ES,Bay of Biscay,43.407626,-2.946287,1995,2023,https://www.uragentzia.euskadi.eus/informacion...,Joana Larreta,jlarreta@azti.es,Javier Franco,jafranco@azti.es,Izaskun Zorita,izorita@azti.es
3,Water,E-B5HS,Plentzia (Abaniko). High Tide. Surface,ES,Bay of Biscay,43.396268,-2.924107,2002,2023,https://www.uragentzia.euskadi.eus/informacion...,Joana Larreta,jlarreta@azti.es,Javier Franco,jafranco@azti.es,Izaskun Zorita,izorita@azti.es
4,Water,E-B7HS,Plentzia (Campo de fútbol). High Tide. Surface,ES,Bay of Biscay,43.397900,-2.944209,2002,2023,https://www.uragentzia.euskadi.eus/informacion...,Joana Larreta,jlarreta@azti.es,Javier Franco,jafranco@azti.es,Izaskun Zorita,izorita@azti.es

In [27]:
df_meta['taxagroup'].unique()

array(['Water', 'Sediment', 'Biota', 'Phytoplankton', 'Macroalgae',
       'Invertebrates', 'Fish'], dtype=object)

In [24]:
df_water['datecollected'].unique()

array(['1995-02-27', '1995-05-30', '1995-09-06', ..., '2022-11-14',
       '2023-03-15', '2023-12-04'], shape=(1620,), dtype=object)

### Combine the datasets

In [29]:
#### First link the site information with the water data
df_meta_water = df_meta[df_meta['taxagroup']=='Water'].reset_index(drop=True)
df_water_site = pd.merge(df_water, df_meta, how='left', on='siteid')

In [32]:
df_water_site.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271925 entries, 0 to 271924
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   datecollected           271925 non-null  object
 1   siteid                  271925 non-null  object
 2   sampleid                271925 non-null  object
 3   basisofrecord           271925 non-null  object
 4   minimumdepthinmeters    271925 non-null  int64
 5   maximumdepthinmeters    271925 non-null  float64
 6   samplingeffort          271925 non-null  object
 7   parameter               271925 non-null  object
 8   parameter_value         271925 non-null  object
 9   parameter_standardunit  254111 non-null  object
 10  taxagroup               271925 non-null  object
 11  sitename                271925 non-null  object
 12  country                 271925 non-null  object
 13  seaname                 271925 non-null  object
 14  decimallatitude         271925 non-null  float64
 15  decimallongitude        271925 non-null  float64
 16  startyearcollected      271925 non-null  int64
 17  endyearcollected        271925 non-null  int64
 18  samplingprotocol        271925 non-null  object
 19  name1                   271925 non-null  object
 20  mail1                   271925 non-null  object
 21  name2                   271925 non-null  object
 22  mail2                   271925 non-null  object
 23  name3                   271925 non-null  object
 24  mail3                   271925 non-null  object
dtypes: float64(3), int64(3), object(19)
memory usage: 51.9+ MB

In [39]:
df_water_site['datecollected'] = pd.to_datetime(df_water_site['datecollected'])
df_water_site = df_water_site.sort_values(['siteid', 'datecollected']).reset_index(drop=True)
df_fish['datecollected'] = pd.to_datetime(df_fish['datecollected'])
df_fish = df_fish.sort_values(['siteid', 'datecollected']).reset_index(drop=True)

In [40]:
df_water_site['water_date'] = df_water_site['datecollected']
df_fish['fish_date'] = df_fish['datecollected']

In [41]:
df_water_fish = pd.merge_asof(df_fish, df_water_site, on=['datecollected'], by='siteid', direction='nearest')

ValueError: left keys must be sorted

In [48]:
df_fish['datecollected'] = pd.to_datetime(df_fish['datecollected'])
df_water_site['datecollected'] = pd.to_datetime(df_water_site['datecollected'])

# Sort the DataFrames by 'siteid' and 'datecollected'
df_fish = df_fish.sort_values(['datecollected'])
df_water_site = df_water_site.sort_values(['datecollected'])

# Merge the DataFrames based on the nearest dates within each siteid group
df_water_fish = pd.merge_asof(df_fish, df_water_site, on='datecollected', by='siteid', direction='nearest')

In [43]:
print(df_fish.head())

  datecollected siteid      sampleid     basisofrecord  minimumdepthinmeters  \
0    2002-09-19    AAE  AAE_20020919  HumanObservation                   0.0
1    2002-09-19    AAE  AAE_20020919  HumanObservation                   0.0
2    2002-09-19    AAE  AAE_20020919  HumanObservation                   0.0
3    2002-09-19    AAE  AAE_20020919  HumanObservation                   0.0
4    2002-09-19    AAE  AAE_20020919  HumanObservation                   0.0

   maximumdepthinmeters            taxaname  taxanameid  \
0                   4.0     Crangon crangon      107552
1                   4.0     Carcinus maenas      107381
2                   4.0        Gobius niger      126892
3                   4.0  Pomatoschistus sp.      125999
4                   4.0         Solea solea      127160

                                      samplingeffort  parameter  \
0  Three hauls, 1.5 m wide beam trawl, net of 10 ...  Abundance
1  Three hauls, 1.5 m wide beam trawl, net of 10 ...  Abundance
2  Three hauls, 1.5 m wide beam trawl, net of 10 ...  Abundance
3  Three hauls, 1.5 m wide beam trawl, net of 10 ...  Abundance
4  Three hauls, 1.5 m wide beam trawl, net of 10 ...  Abundance

   parameter_value parameter_standardunit  fish_date
0              2.0                    ind 2002-09-19
1             13.0                    ind 2002-09-19
2              1.0                    ind 2002-09-19
3             22.0                    ind 2002-09-19
4              2.0                    ind 2002-09-19

In [45]:
df_water_site.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271925 entries, 0 to 271924
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   datecollected           271925 non-null  datetime64[ns]
 1   siteid                  271925 non-null  object
 2   sampleid                271925 non-null  object
 3   basisofrecord           271925 non-null  object
 4   minimumdepthinmeters    271925 non-null  int64
 5   maximumdepthinmeters    271925 non-null  float64
 6   samplingeffort          271925 non-null  object
 7   parameter               271925 non-null  object
 8   parameter_value         271925 non-null  object
 9   parameter_standardunit  254111 non-null  object
 10  taxagroup               271925 non-null  object
 11  sitename                271925 non-null  object
 12  country                 271925 non-null  object
 13  seaname                 271925 non-null  object
 14  decimallatitude         271925 non-null  float64
 15  decimallongitude        271925 non-null  float64
 16  startyearcollected      271925 non-null  int64
 17  endyearcollected        271925 non-null  int64
 18  samplingprotocol        271925 non-null  object
 19  name1                   271925 non-null  object
 20  mail1                   271925 non-null  object
 21  name2                   271925 non-null  object
 22  mail2                   271925 non-null  object
 23  name3                   271925 non-null  object
 24  mail3                   271925 non-null  object
 25  water_date              271925 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(3), object(18)
memory usage: 53.9+ MB

In [51]:
df_water_fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3629 entries, 0 to 3628
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   datecollected             3629 non-null   datetime64[ns]
 1   siteid                    3629 non-null   object
 2   sampleid_x                3629 non-null   object
 3   basisofrecord_x           3629 non-null   object
 4   minimumdepthinmeters_x    3629 non-null   float64
 5   maximumdepthinmeters_x    3629 non-null   float64
 6   taxaname                  3629 non-null   object
 7   taxanameid                3629 non-null   int64
 8   samplingeffort_x          3629 non-null   object
 9   parameter_x               3629 non-null   object
 10  parameter_value_x         3629 non-null   float64
 11  parameter_standardunit_x  3629 non-null   object
 12  fish_date                 3629 non-null   datetime64[ns]
 13  sampleid_y                0 non-null      object
 14  basisofrecord_y           0 non-null      object
 15  minimumdepthinmeters_y    0 non-null      float64
 16  maximumdepthinmeters_y    0 non-null      float64
 17  samplingeffort_y          0 non-null      object
 18  parameter_y               0 non-null      object
 19  parameter_value_y         0 non-null      object
 20  parameter_standardunit_y  0 non-null      object
 21  taxagroup                 0 non-null      object
 22  sitename                  0 non-null      object
 23  country                   0 non-null      object
 24  seaname                   0 non-null      object
 25  decimallatitude           0 non-null      float64
 26  decimallongitude          0 non-null      float64
 27  startyearcollected        0 non-null      float64
 28  endyearcollected          0 non-null      float64
 29  samplingprotocol          0 non-null      object
 30  name1                     0 non-null      object
 31  mail1                     0 non-null      object
 32  name2                     0 non-null      object
 33  mail2                     0 non-null      object
 34  name3                     0 non-null      object
 35  mail3                     0 non-null      object
 36  water_date                0 non-null      datetime64[ns]
dtypes: datetime64[ns](3), float64(9), int64(1), object(24)
memory usage: 1.0+ MB