In [ ]:
import pandas as pd

In [30]:
merged2=pd.read_csv('/lustre/scratch126/cellgen/team298/ab72/accelerate/WATER_METADATA_PHYTOPLANKTON.csv')

/tmp/ipykernel_1071276/3671086491.py:1: DtypeWarning: Columns (23,24,33,35,39,40,41,42,43,44,45,46,47,48,49,58) have mixed types. Specify dtype option on import or set low_memory=False.
  merged2=pd.read_csv('/lustre/scratch126/cellgen/team298/ab72/accelerate/WATER_METADATA_PHYTOPLANKTON.csv')

In [31]:
subset_pandas = merged2[merged2["siteid"] == "E-A10HS"]

# 📌 Display the subset
print(subset_pandas.head())

    siteid                                    sitename country        seaname  \
0  E-A10HS  Ondarroa (Embarcadero). High Tide. Surface      ES  Bay of Biscay
1  E-A10HS  Ondarroa (Embarcadero). High Tide. Surface      ES  Bay of Biscay
2  E-A10HS  Ondarroa (Embarcadero). High Tide. Surface      ES  Bay of Biscay
3  E-A10HS  Ondarroa (Embarcadero). High Tide. Surface      ES  Bay of Biscay
4  E-A10HS  Ondarroa (Embarcadero). High Tide. Surface      ES  Bay of Biscay

   decimallatitude  decimallongitude datecollected  Temperature    pH  \
0        43.319883         -2.420973    2002-04-24         16.5  8.34
1        43.319883         -2.420973    2002-04-24         16.5  8.34
2        43.319883         -2.420973    2002-04-24         16.5  8.34
3        43.319883         -2.420973    2002-04-24         16.5  8.34
4        43.319883         -2.420973    2002-04-24         16.5  8.34

   Dissolved oxygen  ...        sampleid   basisofrecord  \
0             8.294  ...  E-A10_20020424  MaterialSample
1             8.294  ...  E-A10_20020424  MaterialSample
2             8.294  ...  E-A10_20020424  MaterialSample
3             8.294  ...  E-A10_20020424  MaterialSample
4             8.294  ...  E-A10_20020424  MaterialSample

   minimumdepthinmeters maximumdepthinmeters                 taxaname  \
0                     0                  0.5      Chaetoceros danicus
1                     0                  0.5  Chaetoceros salsugineum
2                     0                  0.5             Eutreptiella
3                     0                  0.5      Gyrodinium dominans
4                     0                  0.5           Leptocylindrus

  taxanameid samplingeffort  parameter parameter_value parameter_standardunit
0     149120         125 ml  Abundance            0.02                 cel/ml
1     621740         125 ml  Abundance            1.72                 cel/ml
2      17657         125 ml  Abundance            6.40                 cel/ml
3     109851         125 ml  Abundance            0.02                 cel/ml
4     149038         125 ml  Abundance            0.32                 cel/ml

[5 rows x 70 columns]

In [45]:
# 📌 Count occurrences of each species
species_counts = df_merged["taxaname_encoded"].value_counts()

# 📌 Keep only species that appear at least twice
valid_species = species_counts[species_counts >= 2].index
df_filtered = df_merged[df_merged["taxaname_encoded"].isin(valid_species)]

# 📌 Train-Test Split (Now Without Rare Species)
X_train, X_test, y_train, y_test = train_test_split(
    df_filtered[["Temperature", "pH", "Dissolved oxygen", "Salinity", "taxaname_encoded"]],
    df_filtered["parameter_value"],
    test_size=0.2,
    random_state=42,
    stratify=df_filtered["taxaname_encoded"]  # No more single-instance classes
)

In [62]:
xgb_model = XGBRegressor(n_estimators=200, learning_rate=0.001, max_depth=4)
xgb_model.fit(X_train, y_train)

# 📌 Predict and Evaluate
y_pred = xgb_model.predict(X_test)
rmse = mean_squared_error(y_test, y_pred, squared=False)

print(f"XGBoost RMSE: {rmse}")

XGBoost RMSE: 93.41096603737553

In [63]:
# 📌 Count occurrences of each species
species_counts = df_merged["taxaname_encoded"].value_counts()

# 📌 Keep only species that appear at least twice
valid_species = species_counts[species_counts >= 2].index
df_filtered = df_merged[df_merged["taxaname_encoded"].isin(valid_species)]

# 📌 Train-Test Split (Now Without Rare Species)
X_train, X_test, y_train, y_test = train_test_split(
    df_filtered[["Temperature", "pH", "taxaname_encoded"]],
    df_filtered["parameter_value"],
    test_size=0.2,
    random_state=42,
    stratify=df_filtered["taxaname_encoded"]  # No more single-instance classes
)

In [70]:
xgb_model = XGBRegressor(n_estimators=100, learning_rate=0.0001, max_depth=3)
xgb_model.fit(X_train, y_train)

#  Predict and Evaluate
y_pred = xgb_model.predict(X_test)
rmse = mean_squared_error(y_test, y_pred, squared=False)

print(f"XGBoost RMSE: {rmse}")

XGBoost RMSE: 91.93471793510099

In [73]:
y_pred

array([68.43595 , 68.43595 , 68.732   , 68.732   , 68.732   , 68.732   ,
       68.732   , 68.732   , 68.43595 , 68.43595 , 68.43595 , 68.732   ,
       68.43595 , 68.43595 , 68.54602 , 68.43595 , 68.43595 , 68.83685 ,
       68.43595 , 68.54602 , 68.732   , 68.43595 , 68.43595 , 68.43595 ,
       68.43595 , 68.43595 , 68.43595 , 68.43595 , 68.732   , 68.43595 ,
       68.732   , 68.43595 , 73.669235, 68.43595 , 68.732   , 68.43595 ,
       68.732   , 68.54602 , 68.732   , 68.43595 , 68.43595 , 68.732   ,
       68.732   , 68.83685 , 68.43595 , 68.43595 , 68.43595 , 68.732   ,
       68.43595 , 73.669235, 68.54602 , 68.43595 , 68.43595 , 68.83685 ,
       68.732   , 68.732   , 68.43595 , 68.83685 , 68.43595 , 73.669235,
       68.83685 , 68.54602 , 68.43595 , 68.43595 , 68.43595 , 68.54602 ,
       68.43595 , 68.732   , 68.43595 , 68.732   , 68.43595 , 68.732   ,
       68.83685 , 68.54602 , 68.54602 , 68.43595 , 68.43595 , 68.54602 ,
       68.732   , 68.43595 , 68.732   , 68.43595 , 68.732   , 68.43595 ,
       68.732   , 68.43595 , 68.43595 , 68.83685 , 68.43595 , 68.54602 ,
       68.43595 , 68.54602 , 68.54602 , 68.732   , 68.43595 , 68.43595 ,
       68.732   , 68.43595 , 68.43595 , 68.43595 , 68.43595 , 68.732   ,
       68.340294, 68.43595 , 68.43595 , 68.43595 , 68.732   , 68.732   ,
       68.732   , 68.43595 , 68.43595 , 73.669235, 68.732   , 68.732   ,
       68.83685 , 68.732   , 68.43595 , 68.54602 , 68.43595 , 68.340294,
       68.43595 , 68.732   , 68.43595 , 68.732   , 68.43595 , 68.83685 ,
       68.43595 , 68.43595 , 68.43595 , 68.732   , 68.43595 , 68.43595 ,
       68.43595 , 68.43595 ], dtype=float32)

In [72]:
y_pred.score(X_test,y_test)

AttributeError: 'numpy.ndarray' object has no attribute 'score'